.chart-container {
  display: flex;
  flex-direction: row-reverse;
}

.chart-title {
  overflow: visible;
  text-align: center;
  width: 40px;
  height: 400px;
  position: relative;
  display: inline-block;
}

.chart-title h4 {
  position: absolute;
  top: calc(50% - 2ex);
  left: 50%;
  white-space: nowrap;
  margin: 0 0;
  padding: 0 0;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

